---
openapi: 3.1.0
info:
  title: Exa Public API
  version: 2.0.0
servers:
- url: https://api.exa.ai
security:
- apiKey: []
- bearer: []
paths:
  "/search":
    post:
      operationId: search
      summary: Search
      description: Perform a search with an Exa prompt-engineered query and retrieve
        a list of relevant results. Optionally get contents.
      x-codeSamples:
      - lang: bash
        label: Simple search with contents
        source: |-
          curl -X POST 'https://api.exa.ai/search' \
            -H 'x-api-key: YOUR-EXA-API-KEY' \
            -H 'Content-Type: application/json' \
            -d '{
              "query": "Latest research in LLMs",
              "contents": {
                "highlights": true
              }
            }'
      - lang: python
        label: Simple search with contents
        source: |-
          # pip install exa-py
          from exa_py import Exa
          exa = Exa(api_key='YOUR_EXA_API_KEY')

          results = exa.search(
              "Latest research in LLMs",
              contents={"highlights": True}
          )

          print(results)
      - lang: javascript
        label: Simple search with contents
        source: |-
          // npm install exa-js
          import Exa from 'exa-js';
          const exa = new Exa('YOUR_EXA_API_KEY');

          const results = await exa.search(
              'Latest research in LLMs',
              { contents: { highlights: true } }
          );

          console.log(results);
      - lang: bash
        label: Advanced search with filters
        source: |-
          curl --request POST \
            --url https://api.exa.ai/search \
            --header 'x-api-key: <token>' \
            --header 'Content-Type: application/json' \
            --data '{
              "query": "Latest research in LLMs",
              "type": "auto",
              "category": "research paper",
              "numResults": 10,
              "moderation": true,
              "contents": {
                "text": true,
                "summary": {
                  "query": "Main developments"
                },
                "subpages": 1,
                "subpageTarget": "sources",
                "extras": {
                  "links": 1,
                  "imageLinks": 1
                }
              }
            }'
      - lang: bash
        label: Deep search with query variations
        source: |-
          curl --request POST \
            --url https://api.exa.ai/search \
            --header 'x-api-key: <token>' \
            --header 'Content-Type: application/json' \
            --data '{
              "query": "Who is the CEO of OpenAI?",
              "additionalQueries": [
                "OpenAI CEO current",
                "OpenAI leadership official source"
              ],
              "type": "deep",
              "systemPrompt": "Prefer official sources and avoid duplicate results",
              "outputSchema": {
                "type": "object",
                "properties": {
                  "leader": { "type": "string" },
                  "title": { "type": "string" },
                  "sourceCount": { "type": "number" }
                },
                "required": ["leader", "title"]
              },
              "contents": {
                "text": true
              }
            }'
      - lang: python
        label: Advanced search with filters
        source: |-
          # pip install exa-py
          from exa_py import Exa
          exa = Exa(api_key='YOUR_EXA_API_KEY')

          results = exa.search(
              "Latest research in LLMs",
              type="auto",
              category="research paper",
              num_results=10,
              moderation=True,
              contents={
                  "text": True,
                  "summary": {
                      "query": "Main developments"
                  },
                  "subpages": 1,
                  "subpage_target": "sources",
                  "extras": {
                      "links": 1,
                      "image_links": 1
                  }
              },
          )

          print(results)
      - lang: javascript
        label: Advanced search with filters
        source: |-
          // npm install exa-js
          import Exa from 'exa-js';
          const exa = new Exa('YOUR_EXA_API_KEY');

          const results = await exa.search('Latest research in LLMs', {
              type: 'auto',
              category: 'research paper',
              numResults: 10,
              moderation: true,
              contents: {
                  text: true,
                  summary: {
                      query: 'Main developments'
                  },
                  subpages: 1,
                  subpageTarget: 'sources',
                  extras: {
                      links: 1,
                      imageLinks: 1
                  }
              }
          });

          console.log(results);
      - lang: python
        label: Deep search with query variations
        source: |-
          # pip install exa-py
          from exa_py import Exa
          exa = Exa(api_key='YOUR_EXA_API_KEY')

          results = exa.search(
              "Who is the CEO of OpenAI?",
              additional_queries=[
                  "OpenAI CEO current",
                  "OpenAI leadership official source"
              ],
              type="deep",
              system_prompt="Prefer official sources and avoid duplicate results",
              output_schema={
                  "type": "object",
                  "properties": {
                      "leader": {"type": "string"},
                      "title": {"type": "string"},
                      "source_count": {"type": "number"}
                  },
                  "required": ["leader", "title"]
              },
              contents={"text": True}
          )

          print(results)
      - lang: javascript
        label: Deep search with query variations
        source: |-
          // npm install exa-js
          import Exa from 'exa-js';
          const exa = new Exa('YOUR_EXA_API_KEY');

          const results = await exa.search('Who is the CEO of OpenAI?', {
              additionalQueries: [
                  'OpenAI CEO current',
                  'OpenAI leadership official source'
              ],
              type: 'deep',
              systemPrompt: 'Prefer official sources and avoid duplicate results',
              outputSchema: {
                  type: 'object',
                  properties: {
                      leader: { type: 'string' },
                      title: { type: 'string' },
                      sourceCount: { type: 'number' }
                  },
                  required: ['leader', 'title']
              },
              contents: {
                  text: true
              }
          });

          console.log(results);
      - lang: bash
        label: Streaming synthesized output
        source: |-
          curl --no-buffer --request POST \
            --url https://api.exa.ai/search \
            --header 'x-api-key: <token>' \
            --header 'Content-Type: application/json' \
            --data '{
              "query": "Summarize the latest AI chip launches",
              "type": "fast",
              "stream": true,
              "outputSchema": {
                "type": "text",
                "description": "A short grounded summary in 3 bullets"
              }
            }'
      - lang: bash
        label: Instant search (lowest latency)
        source: |-
          curl --request POST \
            --url https://api.exa.ai/search \
            --header 'x-api-key: <token>' \
            --header 'Content-Type: application/json' \
            --data '{
              "query": "What is the capital of France?",
              "type": "instant",
              "numResults": 10,
              "contents": {
                "highlights": true
              }
            }'
      - lang: python
        label: Instant search (lowest latency)
        source: |-
          # pip install exa-py
          from exa_py import Exa
          exa = Exa(api_key='YOUR_EXA_API_KEY')

          results = exa.search(
              "What is the capital of France?",
              type="instant",
              num_results=10,
              contents={"highlights": True}
          )

          print(results)
      - lang: javascript
        label: Instant search (lowest latency)
        source: |-
          // npm install exa-js
          import Exa from 'exa-js';
          const exa = new Exa('YOUR_EXA_API_KEY');

          const results = await exa.search(
              'What is the capital of France?',
              {
                  type: 'instant',
                  numResults: 10,
                  contents: { highlights: true }
              }
          );

          console.log(results);
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SearchRequest"
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                requestId: b5947044c4b78efa9552a7c89b306d95
                results:
                - title: A Comprehensive Overview of Large Language Models
                  url: https://arxiv.org/pdf/2307.06435.pdf
                  publishedDate: 2023-11-16 01:36:32.547000000 Z
                  author: Humza  Naveed, University of Engineering and Technology
                    (UET), Lahore, Pakistan
                  id: https://arxiv.org/abs/2307.06435
                  image: https://arxiv.org/pdf/2307.06435.pdf/page_1.png
                  favicon: https://arxiv.org/favicon.ico
                  text: Abstract Large Language Models (LLMs) have recently demonstrated
                    remarkable capabilities...
                  highlights:
                  - Such requirements have limited their adoption...
                  highlightScores:
                  - 0.4600165784358978
                  summary: This overview paper on Large Language Models (LLMs) highlights
                    key developments...
                  subpages:
                  - id: https://arxiv.org/abs/2303.17580
                    url: https://arxiv.org/pdf/2303.17580.pdf
                    title: 'HuggingGPT: Solving AI Tasks with ChatGPT and its Friends
                      in Hugging Face'
                    author: Yongliang  Shen, Microsoft Research Asia, Kaitao  Song,
                      Microsoft Research Asia, Xu  Tan, Microsoft Research Asia, Dongsheng  Li,
                      Microsoft Research Asia, Weiming  Lu, Microsoft Research Asia,
                      Yueting  Zhuang, Microsoft Research Asia, yzhuang@zju.edu.cn,
                      Zhejiang  University, Microsoft Research Asia, Microsoft  Research,
                      Microsoft Research Asia
                    publishedDate: 2023-11-16 01:36:20.486000000 Z
                    text: 'HuggingGPT: Solving AI Tasks with ChatGPT and its Friends
                      in Hugging Face Date Published: 2023-05-25 Authors: Yongliang
                      Shen, Microsoft Research Asia Kaitao Song, Microsoft Research
                      Asia Xu Tan, Microsoft Research Asia Dongsheng Li, Microsoft
                      Research Asia Weiming Lu, Microsoft Research Asia Yueting Zhuang,
                      Microsoft Research Asia, yzhuang@zju.edu.cn Zhejiang University,
                      Microsoft Research Asia Microsoft Research, Microsoft Research
                      Asia Abstract Solving complicated AI tasks with different domains
                      and modalities is a key step toward artificial general intelligence.
                      While there are abundant AI models available for different domains
                      and modalities, they cannot handle complicated AI tasks. Considering
                      large language models (LLMs) have exhibited exceptional ability
                      in language understanding, generation, interaction, and reasoning,
                      we advocate that LLMs could act as a controller to manage existing
                      AI models to solve complicated AI tasks and language could be
                      a generic interface to empower t'
                    summary: HuggingGPT is a framework using ChatGPT as a central
                      controller to orchestrate various AI models from Hugging Face
                      to solve complex tasks. ChatGPT plans the task, selects appropriate
                      models based on their descriptions, executes subtasks, and summarizes
                      the results. This approach addresses limitations of LLMs by
                      allowing them to handle multimodal data (vision, speech) and
                      coordinate multiple models for complex tasks, paving the way
                      for more advanced AI systems.
                    highlights:
                    - 2) Recently, some researchers started to investigate the integration
                      of using tools or models in LLMs  .
                    highlightScores:
                    - 0.32679107785224915
                  extras:
                    links: []
                resolvedSearchType: ''
                context: "<string>"
                output:
                  content: "<string>"
                  grounding:
                  - field: "<string>"
                    citations:
                    - url: "<string>"
                      title: "<string>"
                    confidence: high
                costDollars:
                  total: 0.007
                  search:
                    neural: 0.007
              schema:
                "$ref": "#/components/schemas/SearchResponse"
            text/event-stream:
              schema:
                "$ref": "#/components/schemas/SearchStreamChunk"
  "/contents":
    post:
      operationId: getContents
      summary: Contents
      x-codeSamples:
      - lang: bash
        label: Simple contents retrieval
        source: |-
          curl -X POST 'https://api.exa.ai/contents' \
            -H 'x-api-key: YOUR-EXA-API-KEY' \
            -H 'Content-Type: application/json' \
            -d '{
              "urls": ["https://arxiv.org/abs/2307.06435"],
              "text": true
            }'
      - lang: python
        label: Simple contents retrieval
        source: |-
          # pip install exa-py
          from exa_py import Exa
          exa = Exa(api_key='YOUR_EXA_API_KEY')

          results = exa.get_contents(
              urls=["https://arxiv.org/abs/2307.06435"],
              text=True
          )

          print(results)
      - lang: javascript
        label: Simple contents retrieval
        source: |-
          // npm install exa-js
          import Exa from 'exa-js';
          const exa = new Exa('YOUR_EXA_API_KEY');

          const results = await exa.getContents(
              ["https://arxiv.org/abs/2307.06435"],
              { text: true }
          );

          console.log(results);
      - lang: bash
        label: Advanced contents retrieval
        source: |-
          curl --request POST \
            --url https://api.exa.ai/contents \
            --header 'x-api-key: YOUR-EXA-API-KEY' \
            --header 'Content-Type: application/json' \
            --data '{
              "urls": ["https://arxiv.org/abs/2307.06435"],
              "text": {
                "maxCharacters": 1000,
                "includeHtmlTags": false
              },
              "highlights": {
                "query": "Key findings"
              },
              "summary": {
                "query": "Main research contributions"
              },
              "subpages": 1,
              "subpageTarget": "references",
              "extras": {
                "links": 2,
                "imageLinks": 1
              }
            }'
      - lang: python
        label: Advanced contents retrieval
        source: |-
          # pip install exa-py
          from exa_py import Exa
          exa = Exa(api_key='YOUR_EXA_API_KEY')

          results = exa.get_contents(
              urls=["https://arxiv.org/abs/2307.06435"],
              text={
                  "maxCharacters": 1000,
                  "includeHtmlTags": False
              },
              highlights={
                  "query": "Key findings"
              },
              summary={
                  "query": "Main research contributions"
              },
              subpages=1,
              subpage_target="references",
              extras={
                  "links": 2,
                  "image_links": 1
              }
          )

          print(results)
      - lang: javascript
        label: Advanced contents retrieval
        source: |-
          // npm install exa-js
          import Exa from 'exa-js';
          const exa = new Exa('YOUR_EXA_API_KEY');

          const results = await exa.getContents(
              ["https://arxiv.org/abs/2307.06435"],
              {
                  text: {
                      maxCharacters: 1000,
                      includeHtmlTags: false
                  },
                  highlights: {
                      query: "Key findings"
                  },
                  summary: {
                      query: "Main research contributions"
                  },
                  subpages: 1,
                  subpageTarget: "references",
                  extras: {
                      links: 2,
                      imageLinks: 1
                  }
              }
          );

          console.log(results);
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ContentsRequest"
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                requestId: e492118ccdedcba5088bfc4357a8a125
                results:
                - title: A Comprehensive Overview of Large Language Models
                  url: https://arxiv.org/pdf/2307.06435.pdf
                  publishedDate: 2023-11-16 01:36:32.547000000 Z
                  author: Humza  Naveed, University of Engineering and Technology
                    (UET), Lahore, Pakistan
                  id: https://arxiv.org/abs/2307.06435
                  image: https://arxiv.org/pdf/2307.06435.pdf/page_1.png
                  favicon: https://arxiv.org/favicon.ico
                  text: Abstract Large Language Models (LLMs) have recently demonstrated
                    remarkable capabilities...
                  highlights:
                  - Such requirements have limited their adoption...
                  highlightScores:
                  - 0.4600165784358978
                  summary: This overview paper on Large Language Models (LLMs) highlights
                    key developments...
                  subpages:
                  - id: https://arxiv.org/abs/2303.17580
                    url: https://arxiv.org/pdf/2303.17580.pdf
                    title: 'HuggingGPT: Solving AI Tasks with ChatGPT and its Friends
                      in Hugging Face'
                    author: Yongliang  Shen, Microsoft Research Asia, Kaitao  Song,
                      Microsoft Research Asia, Xu  Tan, Microsoft Research Asia, Dongsheng  Li,
                      Microsoft Research Asia, Weiming  Lu, Microsoft Research Asia,
                      Yueting  Zhuang, Microsoft Research Asia, yzhuang@zju.edu.cn,
                      Zhejiang  University, Microsoft Research Asia, Microsoft  Research,
                      Microsoft Research Asia
                    publishedDate: 2023-11-16 01:36:20.486000000 Z
                    text: 'HuggingGPT: Solving AI Tasks with ChatGPT and its Friends
                      in Hugging Face Date Published: 2023-05-25 Authors: Yongliang
                      Shen, Microsoft Research Asia Kaitao Song, Microsoft Research
                      Asia Xu Tan, Microsoft Research Asia Dongsheng Li, Microsoft
                      Research Asia Weiming Lu, Microsoft Research Asia Yueting Zhuang,
                      Microsoft Research Asia, yzhuang@zju.edu.cn Zhejiang University,
                      Microsoft Research Asia Microsoft Research, Microsoft Research
                      Asia Abstract Solving complicated AI tasks with different domains
                      and modalities is a key step toward artificial general intelligence.
                      While there are abundant AI models available for different domains
                      and modalities, they cannot handle complicated AI tasks. Considering
                      large language models (LLMs) have exhibited exceptional ability
                      in language understanding, generation, interaction, and reasoning,
                      we advocate that LLMs could act as a controller to manage existing
                      AI models to solve complicated AI tasks and language could be
                      a generic interface to empower t'
                    summary: HuggingGPT is a framework using ChatGPT as a central
                      controller to orchestrate various AI models from Hugging Face
                      to solve complex tasks. ChatGPT plans the task, selects appropriate
                      models based on their descriptions, executes subtasks, and summarizes
                      the results. This approach addresses limitations of LLMs by
                      allowing them to handle multimodal data (vision, speech) and
                      coordinate multiple models for complex tasks, paving the way
                      for more advanced AI systems.
                    highlights:
                    - 2) Recently, some researchers started to investigate the integration
                      of using tools or models in LLMs  .
                    highlightScores:
                    - 0.32679107785224915
                  extras:
                    links: []
                context: "<string>"
                statuses:
                - id: https://example.com
                  status: success
                  source: cached
                costDollars:
                  total: 0.007
                  search:
                    neural: 0.007
              schema:
                "$ref": "#/components/schemas/ContentsResponse"
  "/answer":
    post:
      operationId: answer
      summary: Answer
      description: Performs a search based on the query and generates either a direct
        answer or a detailed summary with citations, depending on the query type.
      x-codeSamples:
      - lang: bash
        label: Simple answer
        source: |-
          curl -X POST 'https://api.exa.ai/answer' \
            -H 'x-api-key: YOUR-EXA-API-KEY' \
            -H 'Content-Type: application/json' \
            -d '{
              "query": "What is the latest valuation of SpaceX?",
              "text": true
            }'
      - lang: python
        label: Simple answer
        source: |-
          # pip install exa-py
          from exa_py import Exa
          exa = Exa(api_key='YOUR_EXA_API_KEY')

          result = exa.answer(
              "What is the latest valuation of SpaceX?",
              text=True
          )

          print(result)
      - lang: javascript
        label: Simple answer
        source: |-
          // npm install exa-js
          import Exa from 'exa-js';
          const exa = new Exa('YOUR_EXA_API_KEY');

          const result = await exa.answer(
              'What is the latest valuation of SpaceX?',
              { text: true }
          );

          console.log(result);
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AnswerRequest"
      responses:
        '200':
          description: OK
          content:
            application/json:
              example:
                answer: "$350 billion."
                citations:
                - id: https://www.theguardian.com/science/2024/dec/11/spacex-valued-at-350bn-as-company-agrees-to-buy-shares-from-employees
                  url: https://www.theguardian.com/science/2024/dec/11/spacex-valued-at-350bn-as-company-agrees-to-buy-shares-from-employees
                  title: SpaceX valued at $350bn as company agrees to buy shares from
                    ...
                  author: Dan Milmon
                  publishedDate: 2023-11-16 01:36:32.547000000 Z
                  text: SpaceX valued at $350bn as company agrees to buy shares from
                    ...
                  image: https://i.guim.co.uk/img/media/7cfee7e84b24b73c97a079c402642a333ad31e77/0_380_6176_3706/master/6176.jpg?width=1200&height=630&quality=85&auto=format&fit=crop&overlay-align=bottom%2Cleft&overlay-width=100p&overlay-base64=L2ltZy9zdGF0aWMvb3ZlcmxheXMvdGctZGVmYXVsdC5wbmc&enable=upscale&s=71ebb2fbf458c185229d02d380c01530
                  favicon: https://assets.guim.co.uk/static/frontend/icons/homescreen/apple-touch-icon.svg
                costDollars:
                  total: 0.007
                  search:
                    neural: 0.007
              schema:
                "$ref": "#/components/schemas/AnswerResponse"
            text/event-stream:
              schema:
                "$ref": "#/components/schemas/AnswerStreamChunk"
  "/findSimilar":
    post:
      operationId: findSimilar
      summary: Find similar links
      description: 'Find links similar to the provided URL and optionally retrieve
        their contents. Deprecated: prefer `/search` with a query describing the source.'
      x-exa-lifecycle: deprecated
      deprecated: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/FindSimilarRequest"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FindSimilarResponse"
  "/monitors":
    post:
      operationId: createMonitor
      summary: Create a Monitor
      description: |-
        Creates a new Monitor to run recurring Exa searches on a schedule.

        Monitors automatically execute your search query on a recurring schedule and deliver results to your webhook endpoint with automatic deduplication:

        - **Date-based filtering** only fetches content since the last run

        - **Semantic deduplication** tracks previous outputs to surface only new developments

        The response includes a `webhookSecret` that is only returned once at creation time. Store it securely for webhook signature verification.
      tags:
      - Monitors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateSearchMonitorParameters"
      responses:
        '201':
          description: The created monitor with webhook secret
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CreateSearchMonitorResponse"
    get:
      operationId: listMonitors
      summary: List Monitors
      description: Lists all monitors for the authenticated team. Supports filtering
        by status and cursor-based pagination.
      tags:
      - Monitors
      parameters:
      - in: query
        name: status
        schema:
          type: string
          enum:
          - active
          - paused
          - disabled
          description: Filter monitors by status
      - in: query
        name: cursor
        schema:
          type: string
          description: Pagination cursor from a previous response
      - in: query
        name: limit
        schema:
          type: integer
          minimum: 1
          maximum: 100
          description: Number of results per page
          default: 50
      - in: query
        name: name
        schema:
          type: string
          maxLength: 250
          description: Filter monitors by name (case-insensitive substring match)
      - in: query
        name: metadata
        schema:
          description: 'Filter monitors by metadata key-value pairs (exact match,
            AND semantics). Use bracket notation: `metadata[key]=value`.'
          type: object
          propertyNames:
            type: string
          additionalProperties:
            type: string
        style: deepObject
        explode: true
        description: 'Filter monitors by metadata key-value pairs (exact match, AND
          semantics). Use bracket notation: `metadata[key]=value`.'
      responses:
        '200':
          description: A paginated list of monitors
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListSearchMonitorsResponse"
  "/monitors/batch":
    post:
      operationId: batchMonitors
      summary: Batch Action on Monitors
      description: |-
        Perform a batch action on monitors matching the provided filters.

        Supported actions:
        - **delete**: Permanently remove matching monitors
        - **pause**: Pause matching monitors
        - **unpause**: Unpause matching monitors

        Use `dry_run: true` (the default) to preview which monitors would be affected before performing the action. Results are paginated via the `limit` parameter; loop until `has_more` is `false` to process all matching monitors.
      tags:
      - Monitors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BatchMonitorsRequest"
      responses:
        '200':
          description: Batch action result
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BatchMonitorsResponse"
  "/monitors/{id}":
    get:
      operationId: getMonitor
      summary: Get a Monitor
      description: Retrieves a single monitor by its ID.
      tags:
      - Monitors
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: The monitor ID
        required: true
        description: The monitor ID
      responses:
        '200':
          description: The monitor
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SearchMonitor"
    patch:
      operationId: updateMonitor
      summary: Update a Monitor
      description: Updates an existing monitor. All fields are optional. For `search`,
        you can send a partial object containing only the fields you want to change.
        Set `trigger` to `null` to remove the schedule.
      tags:
      - Monitors
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: The monitor ID
        required: true
        description: The monitor ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateSearchMonitorParameters"
      responses:
        '200':
          description: The updated monitor
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SearchMonitor"
    delete:
      operationId: deleteMonitor
      summary: Delete a Monitor
      description: Deletes a monitor. This cannot be undone.
      tags:
      - Monitors
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: The monitor ID
        required: true
        description: The monitor ID
      responses:
        '200':
          description: The deleted monitor
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SearchMonitor"
  "/monitors/{id}/trigger":
    post:
      operationId: triggerMonitor
      summary: Trigger a Monitor
      description: Triggers a run immediately, regardless of the schedule. Works for
        monitors with status `active` or `paused`.
      tags:
      - Monitors
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: The monitor ID
        required: true
        description: The monitor ID
      responses:
        '200':
          description: Whether the monitor was triggered
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TriggerSearchMonitorResponse"
  "/monitors/{id}/runs":
    get:
      operationId: listRuns
      summary: List Runs
      description: Lists all runs for a monitor with cursor-based pagination. Runs
        are returned in reverse chronological order.
      tags:
      - Runs
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: The monitor ID
        required: true
        description: The monitor ID
      - in: query
        name: cursor
        schema:
          type: string
          description: Pagination cursor from a previous response
      - in: query
        name: limit
        schema:
          type: integer
          minimum: 1
          maximum: 100
          description: Number of results per page
          default: 50
      responses:
        '200':
          description: A paginated list of runs
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListSearchMonitorRunsResponse"
  "/monitors/{id}/runs/{runId}":
    get:
      operationId: getRun
      summary: Get a Run
      description: Retrieves a single run by its ID, including the full output if
        the run is completed.
      tags:
      - Runs
      parameters:
      - in: path
        name: id
        schema:
          type: string
          description: The monitor ID
        required: true
        description: The monitor ID
      - in: path
        name: runId
        schema:
          type: string
          description: The run ID
        required: true
        description: The run ID
      responses:
        '200':
          description: The run
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SearchMonitorRun"
  "/agent/runs":
    post:
      operationId: createAgentRun
      summary: Create a run
      description: 'Create an asynchronous Agent run. By default, the API returns
        the run object immediately. Set `Accept: text/event-stream` to stream run
        lifecycle events until the run reaches a terminal status.'
      tags:
      - Agent
      x-codeSamples:
      - lang: python
        label: Create a run
        source: |-
          from exa_py import Exa

          exa = Exa(api_key="YOUR_EXA_API_KEY")
          run = exa.agent.runs.create(
              query="What are the most important AI infrastructure funding rounds announced this week?",
          )
          print(run)
      - lang: typescript
        label: Create a run
        source: |-
          import Exa from "exa-js";

          const exa = new Exa();
          const run = await exa.agent.runs.create({
            query: "What are the most important AI infrastructure funding rounds announced this week?"
          });

          console.log(run);
      - lang: bash
        label: Create a run
        source: |-
          curl -s -X POST "https://api.exa.ai/agent/runs" \
            -H "Content-Type: application/json" \
            -H "x-api-key: $EXA_API_KEY" \
            -d '{
              "query": "What are the most important AI infrastructure funding rounds announced this week?"
            }'
      - lang: bash
        label: Stream a run
        source: |-
          curl -N -X POST "https://api.exa.ai/agent/runs" \
            -H "Content-Type: application/json" \
            -H "Accept: text/event-stream" \
            -H "x-api-key: $EXA_API_KEY" \
            -d '{
              "query": "Find five recently launched developer tools for evaluating AI agents."
            }'
      parameters:
      - "$ref": "#/components/parameters/AcceptHeader"
      - "$ref": "#/components/parameters/ExaBetaHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateAgentRunRequest"
            examples:
              simple:
                summary: Simple research run
                value:
                  query: What are the most important AI infrastructure funding rounds
                    announced this week?
              structuredOutput:
                summary: Structured output
                value:
                  query: Find recent Series A or Series B AI infrastructure funding
                    rounds.
                  outputSchema:
                    type: object
                    required:
                    - companies
                    properties:
                      companies:
                        type: array
                        maxItems: 10
                        items:
                          type: object
                          required:
                          - name
                          - round
                          - amount
                          - sourceUrl
                          properties:
                            name:
                              type: string
                            round:
                              type: string
                            amount:
                              type: string
                            sourceUrl:
                              type: string
                              format: uri
              inputRows:
                summary: Process input rows
                value:
                  query: For each company, find one current executive and cite a source.
                  input:
                    data:
                    - company: Apple
                      domain: apple.com
                    - company: Microsoft
                      domain: microsoft.com
                    exclusion:
                    - company: Apple
                      person: Tim Cook
              contactFields:
                summary: Contact fields in structured output
                value:
                  query: Find engineering leaders at AI infrastructure companies that
                    raised a Series A or B in the last 6 months.
                  effort: auto
                  outputSchema:
                    type: object
                    required:
                    - people
                    properties:
                      people:
                        type: array
                        maxItems: 10
                        items:
                          type: object
                          required:
                          - name
                          - linkedin_url
                          properties:
                            name:
                              type: string
                            contact_email:
                              type: string
                              format: email
                            linkedin_url:
                              type: string
                              format: uri
              dataSources:
                summary: Connect data sources
                value:
                  query: Find 10 fast-growing B2B SaaS companies and their estimated
                    web traffic.
                  dataSources:
                  - provider: similarweb
                  outputSchema:
                    type: object
                    required:
                    - companies
                    properties:
                      companies:
                        type: array
                        maxItems: 10
                        items:
                          type: object
                          required:
                          - name
                          - domain
                          - monthlyVisits
                          properties:
                            name:
                              type: string
                            domain:
                              type: string
                            monthlyVisits:
                              type: number
                              description: from Similarweb
      responses:
        '200':
          description: Agent run created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentRun"
              examples:
                running:
                  summary: Run accepted
                  value:
                    id: agent_run_01j7x9v0m2n4p6q8r0s2t4v6w8
                    object: agent_run
                    status: running
                    stopReason:
                    createdAt: 2026-05-07 18:31:00.000000000 Z
                    completedAt:
                    request:
                      query: What are the most important AI infrastructure funding
                        rounds announced this week?
                    output:
                      text: ''
                      structured:
                      grounding: []
                    usage:
                      agentComputeUnits: 0
                      searches: 0
                      emails: 0
                      phoneNumbers: 0
                    costDollars:
                      total: 0
                      agentCompute: 0
                      search: 0
                      emails: 0
                      phoneNumbers: 0
            text/event-stream:
              schema:
                "$ref": "#/components/schemas/AgentRunEvent"
              examples:
                lifecycle:
                  summary: Run lifecycle events
                  value: |-
                    id: 1
                    event: agent_run.created
                    data: {"id":"agent_run_01j...","status":"queued","createdAt":"2026-05-07T21:21:52.051Z"}

                    id: 2
                    event: agent_run.started
                    data: {"id":"agent_run_01j...","status":"running"}

                    id: 3
                    event: agent_run.completed
                    data: {"id":"agent_run_01j...","object":"agent_run","status":"completed"}
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentErrorResponse"
        '401':
          description: Team context or authentication was not found.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentErrorResponse"
        '429':
          description: Agent run concurrency limit reached.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentErrorResponse"
        '500':
          description: Server error or run timeout.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentErrorResponse"
    get:
      operationId: listAgentRuns
      summary: List runs
      description: List Agent runs for your team, ordered from newest to oldest.
      tags:
      - Agent
      x-codeSamples:
      - lang: python
        label: List runs
        source: |-
          from exa_py import Exa

          exa = Exa(api_key="YOUR_EXA_API_KEY")
          runs = exa.agent.runs.list(
              limit=10,
          )
          print(runs)
      - lang: typescript
        label: List runs
        source: |-
          import Exa from "exa-js";

          const exa = new Exa();
          const runs = await exa.agent.runs.list({
            limit: 10
          });

          console.log(runs);
      - lang: bash
        label: List runs
        source: |-
          curl -s "https://api.exa.ai/agent/runs?limit=10" \
            -H "x-api-key: $EXA_API_KEY"
      parameters:
      - in: query
        name: limit
        schema:
          type: integer
          minimum: 1
          maximum: 100
          description: Number of results per page
          default: 20
      - in: query
        name: cursor
        schema:
          description: Cursor for pagination. Use the `nextCursor` value from the
            previous run list response.
          "$ref": "#/components/schemas/AgentRunId"
      responses:
        '200':
          description: Paginated Agent runs
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentRunList"
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentErrorResponse"
        '401':
          description: Team context or authentication was not found.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentErrorResponse"
        '500':
          description: Server error or run timeout.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentErrorResponse"
  "/agent/runs/{id}":
    get:
      operationId: getAgentRun
      summary: Get a run
      description: Retrieve a single Agent run by ID.
      tags:
      - Agent
      x-codeSamples:
      - lang: python
        label: Get a run
        source: |-
          from exa_py import Exa

          exa = Exa(api_key="YOUR_EXA_API_KEY")
          run_id = "agent_run_01j..."
          run = exa.agent.runs.get(
              run_id,
          )
          print(run)
      - lang: typescript
        label: Get a run
        source: |-
          import Exa from "exa-js";

          const exa = new Exa();
          const runId = "agent_run_01j...";
          const run = await exa.agent.runs.get(runId);

          console.log(run);
      - lang: bash
        label: Get a run
        source: |-
          curl -s "https://api.exa.ai/agent/runs/agent_run_01j..." \
            -H "x-api-key: $EXA_API_KEY"
      parameters:
      - in: path
        name: id
        schema:
          description: Agent run ID.
          "$ref": "#/components/schemas/AgentRunId"
        required: true
        description: Agent run ID.
      responses:
        '200':
          description: Agent run
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentRun"
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentErrorResponse"
        '401':
          description: Team context or authentication was not found.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentErrorResponse"
        '404':
          description: Run not found.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentErrorResponse"
        '429':
          description: Agent run concurrency limit reached.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentErrorResponse"
        '500':
          description: Server error or run timeout.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentErrorResponse"
    delete:
      operationId: deleteAgentRun
      summary: Delete a run
      description: Delete a stored Agent run.
      tags:
      - Agent
      x-codeSamples:
      - lang: python
        label: Delete a run
        source: |-
          from exa_py import Exa

          exa = Exa(api_key="YOUR_EXA_API_KEY")
          run_id = "agent_run_01j..."
          deleted = exa.agent.runs.delete(
              run_id,
          )
          print(deleted)
      - lang: typescript
        label: Delete a run
        source: |-
          import Exa from "exa-js";

          const exa = new Exa();
          const runId = "agent_run_01j...";
          const deleted = await exa.agent.runs.delete(runId);

          console.log(deleted);
      - lang: bash
        label: Delete a run
        source: |-
          curl -s -X DELETE "https://api.exa.ai/agent/runs/agent_run_01j..." \
            -H "x-api-key: $EXA_API_KEY"
      parameters:
      - in: path
        name: id
        schema:
          description: Agent run ID.
          "$ref": "#/components/schemas/AgentRunId"
        required: true
        description: Agent run ID.
      responses:
        '200':
          description: Agent run deleted
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DeleteAgentRunResponse"
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentErrorResponse"
        '401':
          description: Team context or authentication was not found.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentErrorResponse"
        '404':
          description: Run not found.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentErrorResponse"
        '429':
          description: Agent run concurrency limit reached.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentErrorResponse"
        '500':
          description: Server error or run timeout.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentErrorResponse"
  "/agent/runs/{id}/cancel":
    post:
      operationId: cancelAgentRun
      summary: Cancel a run
      description: Cancel a queued or running Agent run. If the run has already reached
        a terminal status, the API returns the existing run.
      tags:
      - Agent
      x-codeSamples:
      - lang: python
        label: Cancel a run
        source: |-
          from exa_py import Exa

          exa = Exa(api_key="YOUR_EXA_API_KEY")
          run_id = "agent_run_01j..."
          run = exa.agent.runs.cancel(
              run_id,
          )
          print(run)
      - lang: typescript
        label: Cancel a run
        source: |-
          import Exa from "exa-js";

          const exa = new Exa();
          const runId = "agent_run_01j...";
          const run = await exa.agent.runs.cancel(runId);

          console.log(run);
      - lang: bash
        label: Cancel a run
        source: |-
          curl -s -X POST "https://api.exa.ai/agent/runs/agent_run_01j.../cancel" \
            -H "x-api-key: $EXA_API_KEY"
      parameters:
      - in: path
        name: id
        schema:
          description: Agent run ID.
          "$ref": "#/components/schemas/AgentRunId"
        required: true
        description: Agent run ID.
      responses:
        '200':
          description: Agent run
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentRun"
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentErrorResponse"
        '401':
          description: Team context or authentication was not found.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentErrorResponse"
        '404':
          description: Run not found.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentErrorResponse"
        '429':
          description: Agent run concurrency limit reached.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentErrorResponse"
        '500':
          description: Server error or run timeout.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentErrorResponse"
  "/agent/runs/{id}/events":
    get:
      operationId: listAgentRunEvents
      summary: List run events
      description: 'List stored events for an Agent run. Set `Accept: text/event-stream`
        to replay stored events as server-sent events. Use `cursor` for JSON pagination
        or `Last-Event-ID` for SSE replay.'
      tags:
      - Agent
      x-codeSamples:
      - lang: python
        label: List run events
        source: |-
          from exa_py import Exa

          exa = Exa(api_key="YOUR_EXA_API_KEY")
          run_id = "agent_run_01j..."
          events = exa.agent.runs.events.list(
              run_id,
              limit=20,
          )
          print(events)
      - lang: typescript
        label: List run events
        source: |-
          import Exa from "exa-js";

          const exa = new Exa();
          const runId = "agent_run_01j...";
          const events = await exa.agent.runs.events.list(runId, {
            limit: 20
          });

          console.log(events);
      - lang: bash
        label: List run events
        source: |-
          curl -s "https://api.exa.ai/agent/runs/agent_run_01j.../events?limit=20" \
            -H "x-api-key: $EXA_API_KEY"
      - lang: bash
        label: Replay run events
        source: |-
          curl -N "https://api.exa.ai/agent/runs/agent_run_01j.../events" \
            -H "Accept: text/event-stream" \
            -H "Last-Event-ID: 1" \
            -H "x-api-key: $EXA_API_KEY"
      parameters:
      - in: path
        name: id
        schema:
          description: Agent run ID.
          "$ref": "#/components/schemas/AgentRunId"
        required: true
        description: Agent run ID.
      - in: query
        name: limit
        schema:
          type: integer
          minimum: 1
          maximum: 100
          description: Number of results per page
          default: 20
      - in: query
        name: cursor
        schema:
          type: string
          description: Cursor for pagination. Use the `nextCursor` value from the
            previous event list response.
      - "$ref": "#/components/parameters/AcceptHeader"
      - "$ref": "#/components/parameters/LastEventId"
      responses:
        '200':
          description: Agent run events
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentRunEventList"
            text/event-stream:
              schema:
                "$ref": "#/components/schemas/AgentRunEvent"
              examples:
                replay:
                  summary: Replayed run events
                  value: |
                    id: 2
                    event: agent_run.started
                    data: {"id":"agent_run_01j...","status":"running"}

                    id: 3
                    event: agent_run.completed
                    data: {"id":"agent_run_01j...","object":"agent_run","status":"completed"}
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentErrorResponse"
        '401':
          description: Team context or authentication was not found.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentErrorResponse"
        '404':
          description: Run not found.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentErrorResponse"
        '429':
          description: Agent run concurrency limit reached.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentErrorResponse"
        '500':
          description: Server error or run timeout.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AgentErrorResponse"
  "/v0/teams/me":
    get:
      operationId: teams-me-get
      summary: Get Team Info
      description: Returns information about the authenticated team, including current
        concurrency usage and limits.
      tags:
      - Teams
      x-codeSamples:
      - lang: bash
        label: Get team info
        source: |-
          curl -X GET 'https://api.exa.ai/websets/v0/teams/me' \
            -H 'x-api-key: YOUR-EXA-API-KEY'
      - lang: python
        label: Get team info
        source: |-
          import requests

          headers = {
              'x-api-key': 'YOUR-EXA-API-KEY'
          }

          response = requests.get(
              'https://api.exa.ai/websets/v0/teams/me',
              headers=headers
          )

          print(response.json())
      - lang: javascript
        label: Get team info
        source: |-
          const response = await fetch('https://api.exa.ai/websets/v0/teams/me', {
            method: 'GET',
            headers: {
              'x-api-key': 'YOUR-EXA-API-KEY'
            }
          });

          const result = await response.json();
          console.log(result);
      responses:
        '200':
          description: Team information retrieved successfully
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WebsetsTeamInfo"
  "/research/v1":
    get:
      description: Get a paginated list of research requests
      operationId: ResearchController_listResearch
      parameters:
      - name: cursor
        required: false
        in: query
        description: The cursor to paginate through the results
        schema:
          minLength: 1
          type: string
      - name: limit
        required: false
        in: query
        description: Number of results per page (1-50)
        schema:
          minimum: 1
          maximum: 50
          default: 10
          type: number
      responses:
        '200':
          description: List of research requests
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListResearchResponseDto"
      summary: List research requests
      tags:
      - Research
      x-codeSamples:
      - lang: bash
        label: List research tasks
        source: |-
          curl -X GET 'https://api.exa.ai/research/v1?limit=10' \
            -H 'x-api-key: YOUR-EXA-API-KEY'
      - lang: python
        label: List research tasks
        source: |-
          # pip install exa-py
          from exa_py import Exa
          exa = Exa(api_key='YOUR_EXA_API_KEY')

          tasks = exa.research.list_tasks(limit=10)
          print(tasks)
      - lang: javascript
        label: List research tasks
        source: |-
          // npm install exa-js
          import Exa from 'exa-js';
          const exa = new Exa('YOUR_EXA_API_KEY');

          const tasks = await exa.research.listTasks({ limit: 10 });
          console.log(tasks);
    post:
      operationId: ResearchController_createResearch
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ResearchCreateRequestDtoClass"
      responses:
        '201':
          description: Research request created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResearchDtoClass"
      summary: Create a new research request
      tags:
      - Research
      x-codeSamples:
      - lang: bash
        label: Create research task
        source: |-
          curl -X POST 'https://api.exa.ai/research/v1' \
            -H 'x-api-key: YOUR-EXA-API-KEY' \
            -H 'Content-Type: application/json' \
            -d '{
              "instructions": "Summarize the latest developments in AI safety research",
              "model": "exa-research"
            }'
      - lang: python
        label: Create research task
        source: |-
          # pip install exa-py
          from exa_py import Exa
          exa = Exa(api_key='YOUR_EXA_API_KEY')

          task = exa.research.create_task(
              instructions="Summarize the latest developments in AI safety research",
              model="exa-research"
          )

          print(task)
      - lang: javascript
        label: Create research task
        source: |-
          // npm install exa-js
          import Exa from 'exa-js';
          const exa = new Exa('YOUR_EXA_API_KEY');

          const task = await exa.research.createTask({
            instructions: "Summarize the latest developments in AI safety research",
            model: "exa-research"
          });

          console.log(task);
  "/research/v1/{researchId}":
    get:
      description: Retrieve research by ID. Add ?stream=true for real-time SSE updates.
      operationId: ResearchController_getResearch
      parameters:
      - name: researchId
        required: true
        in: path
        description: The unique identifier of the research request to retrieve
        schema:
          type: string
      - name: stream
        required: false
        in: query
        description: Set to "true" to receive real-time updates via Server-Sent Events
          (SSE)
        schema:
          type: string
      - name: events
        required: false
        in: query
        description: Set to "true" to include the detailed event log of all operations
          performed
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResearchDtoClass"
      summary: Get a research request by id
      tags:
      - Research
      x-codeSamples:
      - lang: bash
        label: Get research task
        source: |-
          curl -X GET 'https://api.exa.ai/research/v1/01jszdfs0052sg4jc552sg4jc5' \
            -H 'x-api-key: YOUR-EXA-API-KEY'
      - lang: bash
        label: Get research task with streaming
        source: |-
          curl -X GET 'https://api.exa.ai/research/v1/01jszdfs0052sg4jc552sg4jc5?stream=true' \
            -H 'x-api-key: YOUR-EXA-API-KEY'
      - lang: python
        label: Get research task
        source: |-
          # pip install exa-py
          from exa_py import Exa
          exa = Exa(api_key='YOUR_EXA_API_KEY')

          task = exa.research.get_task('01jszdfs0052sg4jc552sg4jc5')
          print(task)
      - lang: javascript
        label: Get research task
        source: |-
          // npm install exa-js
          import Exa from 'exa-js';
          const exa = new Exa('YOUR_EXA_API_KEY');

          const task = await exa.research.getTask('01jszdfs0052sg4jc552sg4jc5');
          console.log(task);
  "/v0/websets":
    servers:
    - url: https://api.exa.ai/websets
    post:
      description: |-
        Creates a new Webset with optional search, import, and enrichment configurations. The Webset will automatically begin processing once created.

        You can specify an `externalId` to reference the Webset with your own identifiers for easier integration.
      operationId: websets-create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateWebsetParameters"
      responses:
        '201':
          description: Webset created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Webset"
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Unique identifier for the request.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
        '409':
          description: Webset with this externalId already exists
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Unique identifier for the request.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
      summary: Create a Webset
      tags:
      - Websets
      security:
      - apiKey: []
      - bearer: []
      x-codeSamples:
      - lang: javascript
        label: JavaScript
        source: |-
          // npm install exa-js
          import Exa from 'exa-js';
          const exa = new Exa('YOUR_EXA_API_KEY');

          const webset = await exa.websets.create({
            search: {
              query: "Tech companies in San Francisco",
              count: 10
            }
          });

          console.log(`Created webset: ${webset.id}`);
      - lang: python
        label: Python
        source: |-
          # pip install exa-py
          from exa_py import Exa
          exa = Exa(api_key='YOUR_EXA_API_KEY')

          webset = exa.websets.create(params={
              'search': {
                  'query': 'Tech companies in San Francisco',
                  'count': 10
              }
          })

          print(f'Created webset: {webset.id}')
      - lang: javascript
        label: Filter within CSV Import
        source: |-
          // Filter a CSV import by criteria (no top-level import needed)
          import Exa from 'exa-js';
          const exa = new Exa('YOUR_EXA_API_KEY');

          const webset = await exa.websets.create({
            search: {
              query: "people who changed jobs",
              criteria: ["changed jobs in the last 6 months"],
              count: 10,
              scope: [{
                source: "import",
                id: "import_abc123"  // Your existing import ID
              }]
            }
          });

          console.log(`Filtered webset: ${webset.id}`);
      - lang: python
        label: Filter within CSV Import
        source: |-
          from exa_py import Exa
          exa = Exa(api_key='YOUR_EXA_API_KEY')

          webset = exa.websets.create(params={
              'search': {
                  'query': 'people who changed jobs',
                  'criteria': ['changed jobs in the last 6 months'],
                  'count': 10,
                  'scope': [{
                      'source': 'import',
                      'id': 'import_abc123'  # Your existing import ID
                  }]
              }
          })

          print(f'Filtered webset: {webset.id}')
      - lang: javascript
        label: Hop Search (Graph Traversal)
        source: |-
          // Find related entities (e.g., companies -> investors)
          import Exa from 'exa-js';
          const exa = new Exa('YOUR_EXA_API_KEY');

          const webset = await exa.websets.create({
            search: {
              query: "investors",
              scope: [{
                source: "webset",
                id: "webset_companies",
                relationship: {
                  definition: "investors of",
                  limit: 3  // Find up to 3 investors per company
                }
              }]
            }
          });

          console.log(`Hop search webset: ${webset.id}`);
      - lang: python
        label: Hop Search (Graph Traversal)
        source: |-
          from exa_py import Exa
          exa = Exa(api_key='YOUR_EXA_API_KEY')

          webset = exa.websets.create(params={
              'search': {
                  'query': 'investors',
                  'scope': [{
                      'source': 'webset',
                      'id': 'webset_companies',
                      'relationship': {
                          'definition': 'investors of',
                          'limit': 3  # Find up to 3 investors per company
                      }
                  }]
              }
          })

          print(f'Hop search webset: {webset.id}')
    get:
      description: |-
        Returns a list of Websets.

        You can paginate through the results using the `cursor` parameter.

        You can filter results using the `search` parameter to find Websets by ID, external ID, or title.
      operationId: websets-list
      parameters:
      - name: cursor
        required: false
        in: query
        description: The cursor to paginate through the results
        schema:
          minLength: 1
          type: string
      - name: limit
        required: false
        in: query
        description: The number of Websets to return
        schema:
          minimum: 1
          maximum: 100
          default: 25
          type: number
      - name: search
        required: false
        in: query
        description: Search term to filter Websets by ID, external ID, or title
        schema:
          minLength: 2
          maxLength: 50
          type: string
      responses:
        '200':
          description: List of Websets
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListWebsetsResponse"
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Unique identifier for the request.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
      summary: List all Websets
      tags:
      - Websets
      security:
      - apiKey: []
      - bearer: []
      x-codeSamples:
      - lang: javascript
        label: JavaScript
        source: |-
          // npm install exa-js
          import Exa from "exa-js";
          const exa = new Exa("YOUR_EXA_API_KEY");

          // List websets with optional pagination
          const websets = await exa.websets.list({
            limit: 20, // Optional: max results per page
          });

          console.log(`Found ${websets.data.length} websets`);
          websets.data.forEach((webset) => {
            console.log(`- ${webset.id}: ${webset.status}`);
          });
      - lang: python
        label: Python
        source: |-
          # pip install exa-py
          from exa_py import Exa

          exa = Exa("YOUR_EXA_API_KEY")

          # List websets with optional pagination
          websets_response = exa.websets.list(
              limit=20  # Optional: max results per page
          )

          print(f"Found {len(websets_response.data)} websets")
          for webset in websets_response.data:
              print(f"- {webset.id}: {webset.status}")
  "/v0/websets/{id}":
    servers:
    - url: https://api.exa.ai/websets
    get:
      operationId: websets-get
      parameters:
      - name: id
        required: true
        in: path
        description: The id or externalId of the Webset.
        schema:
          type: string
      - name: expand
        required: false
        in: query
        description: Expand the response with the specified resources
        schema:
          type: array
          items:
            type: string
            enum:
            - items
      responses:
        '200':
          description: Webset
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GetWebsetResponse"
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Unique identifier for the request.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
        '404':
          description: Webset not found
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Unique identifier for the request.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
      summary: Get a Webset
      tags:
      - Websets
      security:
      - apiKey: []
      - bearer: []
      x-codeSamples:
      - lang: javascript
        label: JavaScript
        source: |-
          // npm install exa-js
          import Exa from "exa-js";
          const exa = new Exa("YOUR_EXA_API_KEY");

          const webset = await exa.websets.get("webset_id");

          console.log(`Webset: ${webset.id} - ${webset.status}`);
      - lang: python
        label: Python
        source: |-
          # pip install exa-py
          from exa_py import Exa

          exa = Exa("YOUR_EXA_API_KEY")

          webset = exa.websets.get("webset_id")

          print(f"Webset: {webset.id} - {webset.status}")
    post:
      operationId: websets-update
      parameters:
      - name: id
        required: true
        in: path
        description: The id or externalId of the Webset
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateWebsetRequest"
      responses:
        '200':
          description: Webset updated
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Webset"
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Unique identifier for the request.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
        '404':
          description: Webset not found
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Unique identifier for the request.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
      summary: Update a Webset
      tags:
      - Websets
      security:
      - apiKey: []
      - bearer: []
      x-codeSamples:
      - lang: javascript
        label: JavaScript
        source: |-
          // npm install exa-js
          import Exa from "exa-js";
          const exa = new Exa("YOUR_EXA_API_KEY");

          const webset = await exa.websets.update("webset_id", {
            name: "Updated Webset Name",
            description: "Updated description",
          });

          console.log(`Updated webset: ${webset.id}`);
      - lang: python
        label: Python
        source: |-
          # pip install exa-py
          from exa_py import Exa

          exa = Exa("YOUR_EXA_API_KEY")

          webset = exa.websets.update(
              "webset_id",
              params={"name": "Updated Webset Name", "description": "Updated description"},
          )

          print(f"Updated webset: {webset.id}")
    delete:
      description: |-
        Deletes a Webset.

        Once deleted, the Webset and all its Items will no longer be available.
      operationId: websets-delete
      parameters:
      - name: id
        required: true
        in: path
        description: The id or externalId of the Webset
        schema:
          type: string
      responses:
        '200':
          description: Webset deleted
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Webset"
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Unique identifier for the request.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
        '404':
          description: Webset not found
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Unique identifier for the request.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
      summary: Delete a Webset
      tags:
      - Websets
      security:
      - apiKey: []
      - bearer: []
      x-codeSamples:
      - lang: javascript
        label: JavaScript
        source: |-
          // npm install exa-js
          import Exa from "exa-js";
          const exa = new Exa("YOUR_EXA_API_KEY");

          await exa.websets.delete("webset_id");

          console.log("Webset deleted successfully");
      - lang: python
        label: Python
        source: |-
          # pip install exa-py
          from exa_py import Exa

          exa = Exa("YOUR_EXA_API_KEY")

          exa.websets.delete("webset_id")

          print("Webset deleted successfully")
  "/v0/websets/{id}/cancel":
    servers:
    - url: https://api.exa.ai/websets
    post:
      description: |-
        Cancels all operations being performed on a Webset.

        Any enrichment or search will be stopped and the Webset will be marked as `idle`.
      operationId: websets-cancel
      parameters:
      - name: id
        required: true
        in: path
        description: The id or externalId of the Webset
        schema:
          type: string
      responses:
        '200':
          description: Webset canceled
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Webset"
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Unique identifier for the request.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
      summary: Cancel a running Webset
      tags:
      - Websets
      security:
      - apiKey: []
      - bearer: []
      x-codeSamples:
      - lang: javascript
        label: JavaScript
        source: |-
          // npm install exa-js
          import Exa from "exa-js";
          const exa = new Exa("YOUR_EXA_API_KEY");

          const webset = await exa.websets.cancel("webset_id");

          console.log(`Cancelled webset: ${webset.id}`);
      - lang: python
        label: Python
        source: |-
          # pip install exa-py
          from exa_py import Exa

          exa = Exa("YOUR_EXA_API_KEY")

          webset = exa.websets.cancel("webset_id")

          print(f"Cancelled webset: {webset.id}")
  "/v0/websets/preview":
    servers:
    - url: https://api.exa.ai/websets
    post:
      description: |-
        Preview how a search query will be decomposed before creating a webset. This endpoint performs the same query analysis that happens during webset creation, allowing you to see the detected entity type, generated search criteria, and available enrichment columns in advance.

        Use this to help users understand how their search will be interpreted before committing to a full webset creation.
      operationId: websets-preview
      parameters:
      - name: search
        required: false
        in: path
        description: Weather you want to search for a preview list of items or not
        schema:
          type: boolean
      requestBody:
        required: true
        description: Search parameters
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PreviewWebsetParameters"
      responses:
        '200':
          description: Preview of the webset
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PreviewWebsetResponse"
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Unique identifier for the request.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
        '422':
          description: Unable to detect entity or criteria from query
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Unique identifier for the request.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
      summary: Preview a webset
      tags:
      - Websets Preview
      security:
      - apiKey: []
      - bearer: []
      x-codeSamples:
      - lang: javascript
        label: JavaScript
        source: |-
          // npm install exa-js
          import Exa from "exa-js";
          const exa = new Exa("YOUR_EXA_API_KEY");

          const preview = await exa.websets.preview({
            search: {
              query:
                "Marketing agencies based in the US, that focus on consumer products. Get brands worked with and city",
            },
          });

          console.log("Search criteria:", preview.search.criteria);
      - lang: python
        label: Python
        source: |-
          # pip install exa-py
          from exa_py import Exa

          exa = Exa("YOUR_EXA_API_KEY")

          preview = exa.websets.preview(
              params={
                  "query": "Marketing agencies based in the US, that focus on consumer products. Get brands worked with and city"
              }
          )

          print("Search criteria:", preview.search.criteria)
          print("Available enrichments:", len(preview.enrichments))
  "/v0/websets/{webset}/items/{id}":
    servers:
    - url: https://api.exa.ai/websets
    get:
      description: Returns a Webset Item.
      operationId: websets-items-get
      parameters:
      - name: webset
        required: true
        in: path
        description: The id or externalId of the Webset
        schema:
          type: string
      - name: id
        required: true
        in: path
        description: The id of the Webset item
        schema:
          type: string
      responses:
        '200':
          description: Webset Item
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WebsetItem"
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Unique identifier for the request.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
      summary: Get an Item
      tags:
      - Items
      security:
      - apiKey: []
      - bearer: []
      x-codeSamples:
      - lang: javascript
        label: JavaScript
        source: |-
          // npm install exa-js
          import Exa from "exa-js";
          const exa = new Exa("YOUR_EXA_API_KEY");

          const item = await exa.websets.items.get("webset_id", "item_id");

          console.log(`Item: ${item.id} - ${item.properties.name}`);
      - lang: python
        label: Python
        source: |-
          # pip install exa-py
          from exa_py import Exa

          exa = Exa("YOUR_EXA_API_KEY")

          item = exa.websets.items.get("webset_id", "item_id")

          print(f"Item: {item.id} - {item.properties.name}")
    delete:
      description: |-
        Deletes an Item from the Webset.

        This will cancel any enrichment process for it.
      operationId: websets-items-delete
      parameters:
      - name: webset
        required: true
        in: path
        description: The id or externalId of the Webset
        schema:
          type: string
      - name: id
        required: true
        in: path
        description: The id of the Webset item
        schema:
          type: string
      responses:
        '200':
          description: Webset Item deleted
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WebsetItem"
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Unique identifier for the request.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
      summary: Delete an Item
      tags:
      - Items
      security:
      - apiKey: []
      - bearer: []
      x-codeSamples:
      - lang: javascript
        label: JavaScript
        source: |-
          // npm install exa-js
          import Exa from "exa-js";
          const exa = new Exa("YOUR_EXA_API_KEY");

          await exa.websets.items.delete("webset_id", "item_id");

          console.log("Item deleted successfully");
      - lang: python
        label: Python
        source: |-
          # pip install exa-py
          from exa_py import Exa

          exa = Exa("YOUR_EXA_API_KEY")

          exa.websets.items.delete("webset_id", "item_id")

          print("Item deleted successfully")
  "/v0/websets/{webset}/items":
    servers:
    - url: https://api.exa.ai/websets
    get:
      description: |-
        Returns a list of Webset Items.

        You can paginate through the Items using the `cursor` parameter.
      operationId: websets-items-list
      parameters:
      - name: webset
        required: true
        in: path
        description: The id or externalId of the Webset
        schema:
          type: string
      - name: cursor
        required: false
        in: query
        description: The cursor to paginate through the results
        schema:
          minLength: 1
          type: string
      - name: limit
        required: false
        in: query
        description: The number of results to return
        schema:
          minimum: 1
          maximum: 100
          default: 20
          type: integer
      - name: sourceId
        required: false
        in: query
        description: The id of the source
        schema:
          type: string
      responses:
        '200':
          description: Webset Items
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListWebsetItemResponse"
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Unique identifier for the request.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
      summary: List all Items for a Webset
      tags:
      - Items
      security:
      - apiKey: []
      - bearer: []
      x-codeSamples:
      - lang: javascript
        label: JavaScript
        source: |-
          // npm install exa-js
          import Exa from "exa-js";
          const exa = new Exa("YOUR_EXA_API_KEY");

          const items = await exa.websets.items.list("webset_id", {
            limit: 20,
          });

          console.log(`Found ${items.data.length} items`);
          items.data.forEach((item) => {
            console.log(`- ${item.id}: ${item.properties.name}`);
          });
      - lang: python
        label: Python
        source: |-
          # pip install exa-py
          from exa_py import Exa

          exa = Exa("YOUR_EXA_API_KEY")

          items = exa.websets.items.list("webset_id", limit=20)

          print(f"Found {len(items.data)} items")
          for item in items.data:
              print(f"- {item.id}: {item.properties.name}")
  "/v0/websets/{webset}/enrichments":
    servers:
    - url: https://api.exa.ai/websets
    post:
      description: Create an Enrichment for a Webset.
      operationId: websets-enrichments-create
      parameters:
      - name: webset
        required: true
        in: path
        description: The id or externalId of the Webset
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateEnrichmentParameters"
      responses:
        '200':
          description: Enrichment created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WebsetEnrichment"
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Unique identifier for the request.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
      summary: Create an Enrichment
      tags:
      - Enrichments
      security:
      - apiKey: []
      - bearer: []
      x-codeSamples:
      - lang: javascript
        label: JavaScript
        source: |-
          // npm install exa-js
          import Exa from "exa-js";
          const exa = new Exa("YOUR_EXA_API_KEY");

          const enrichment = await exa.websets.enrichments.create("webset_id", {
            description: "Company revenue information",
            format: "text",
          });

          console.log(`Created enrichment: ${enrichment.id}`);
      - lang: python
        label: Python
        source: |-
          # pip install exa-py
          from exa_py import Exa

          exa = Exa("YOUR_EXA_API_KEY")

          enrichment = exa.websets.enrichments.create(
              "webset_id", params={"description": "Company revenue information", "format": "text"}
          )

          print(f"Created enrichment: {enrichment.id}")
  "/v0/websets/{webset}/enrichments/{id}":
    servers:
    - url: https://api.exa.ai/websets
    patch:
      description: Update an Enrichment configuration for a Webset.
      operationId: websets-enrichments-update
      parameters:
      - name: webset
        required: true
        in: path
        schema:
          type: string
      - name: id
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateEnrichmentParameters"
      responses:
        '200':
          description: ''
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Unique identifier for the request.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
      summary: Update an Enrichment
      tags:
      - Enrichments
      security:
      - apiKey: []
      - bearer: []
      x-codeSamples:
      - lang: javascript
        label: JavaScript
        source: |-
          // npm install exa-js
          import Exa from "exa-js";
          const exa = new Exa("YOUR_EXA_API_KEY");

          const enrichment = await exa.websets.enrichments.update("webset_id", "enrichment_id", {
            description: "Updated company revenue and growth metrics",
            format: "number",
          });

          console.log(`Updated enrichment: ${enrichment.id}`);
      - lang: python
        label: Python
        source: |-
          # pip install exa-py
          from exa_py import Exa

          exa = Exa("YOUR_EXA_API_KEY")

          enrichment = exa.websets.enrichments.update(
              "webset_id",
              "enrichment_id",
              params={
                  "description": "Updated company revenue and growth metrics",
                  "format": "number",
              },
          )

          print(f"Updated enrichment: {enrichment.id}")
    get:
      operationId: websets-enrichments-get
      parameters:
      - name: webset
        required: true
        in: path
        description: The id or externalId of the Webset
        schema:
          type: string
      - name: id
        required: true
        in: path
        description: The id of the Enrichment
        schema:
          type: string
      responses:
        '200':
          description: Enrichment
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WebsetEnrichment"
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Unique identifier for the request.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
      summary: Get an Enrichment
      tags:
      - Enrichments
      security:
      - apiKey: []
      - bearer: []
      x-codeSamples:
      - lang: javascript
        label: JavaScript
        source: |-
          // npm install exa-js
          import Exa from "exa-js";
          const exa = new Exa("YOUR_EXA_API_KEY");

          const enrichment = await exa.websets.enrichments.get("webset_id", "enrichment_id");

          console.log(`Enrichment: ${enrichment.id} - ${enrichment.status}`);
      - lang: python
        label: Python
        source: |-
          # pip install exa-py
          from exa_py import Exa

          exa = Exa("YOUR_EXA_API_KEY")

          enrichment = exa.websets.enrichments.get("webset_id", "enrichment_id")

          print(f"Enrichment: {enrichment.id} - {enrichment.status}")
    delete:
      description: When deleting an Enrichment, any running enrichments will be canceled
        and all existing `enrichment_result` generated by this Enrichment will no
        longer be available.
      operationId: websets-enrichments-delete
      parameters:
      - name: webset
        required: true
        in: path
        description: The id or externalId of the Webset
        schema:
          type: string
      - name: id
        required: true
        in: path
        description: The id of the Enrichment
        schema:
          type: string
      responses:
        '200':
          description: Enrichment deleted
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WebsetEnrichment"
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Unique identifier for the request.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
      summary: Delete an Enrichment
      tags:
      - Enrichments
      security:
      - apiKey: []
      - bearer: []
      x-codeSamples:
      - lang: javascript
        label: JavaScript
        source: |-
          // npm install exa-js
          import Exa from "exa-js";
          const exa = new Exa("YOUR_EXA_API_KEY");

          await exa.websets.enrichments.delete("webset_id", "enrichment_id");

          console.log("Enrichment deleted successfully");
      - lang: python
        label: Python
        source: |-
          # pip install exa-py
          from exa_py import Exa

          exa = Exa("YOUR_EXA_API_KEY")

          exa.websets.enrichments.delete("webset_id", "enrichment_id")

          print("Enrichment deleted successfully")
  "/v0/websets/{webset}/enrichments/{id}/cancel":
    servers:
    - url: https://api.exa.ai/websets
    post:
      description: All running enrichments will be canceled. You can not resume an
        Enrichment after it has been canceled.
      operationId: websets-enrichments-cancel
      parameters:
      - name: webset
        required: true
        in: path
        description: The id or externalId of the Webset
        schema:
          type: string
      - name: id
        required: true
        in: path
        description: The id of the Enrichment
        schema:
          type: string
      responses:
        '200':
          description: Enrichment cancelled
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WebsetEnrichment"
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Unique identifier for the request.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
      summary: Cancel a running Enrichment
      tags:
      - Enrichments
      security:
      - apiKey: []
      - bearer: []
      x-codeSamples:
      - lang: javascript
        label: JavaScript
        source: |-
          // npm install exa-js
          import Exa from "exa-js";
          const exa = new Exa("YOUR_EXA_API_KEY");

          const enrichment = await exa.websets.enrichments.cancel("webset_id", "enrichment_id");

          console.log(`Cancelled enrichment: ${enrichment.id}`);
      - lang: python
        label: Python
        source: |-
          # pip install exa-py
          from exa_py import Exa

          exa = Exa("YOUR_EXA_API_KEY")

          enrichment = exa.websets.enrichments.cancel("webset_id", "enrichment_id")

          print(f"Cancelled enrichment: {enrichment.id}")
  "/v0/webhooks":
    servers:
    - url: https://api.exa.ai/websets
    post:
      operationId: webhooks-create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateWebhookParameters"
      responses:
        '200':
          description: Webhook
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Webhook"
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Unique identifier for the request.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
      summary: Create a Webhook
      tags:
      - Webhooks
      security:
      - apiKey: []
      - bearer: []
      x-codeSamples:
      - lang: javascript
        label: JavaScript
        source: |-
          // npm install exa-js
          import Exa from "exa-js";
          const exa = new Exa("YOUR_EXA_API_KEY");

          const webhook = await exa.websets.webhooks.create({
            url: "https://api.yourapp.com/webhooks/exa",
            events: ["webset.completed", "enrichment.completed"],
          });

          console.log(`Created webhook: ${webhook.id}`);
      - lang: python
        label: Python
        source: |-
          # pip install exa-py
          from exa_py import Exa

          exa = Exa("YOUR_EXA_API_KEY")

          webhook = exa.websets.webhooks.create(
              params={
                  "url": "https://api.yourapp.com/webhooks/exa",
                  "events": ["webset.completed", "enrichment.completed"],
              }
          )

          print(f"Created webhook: {webhook.id}")
    get:
      operationId: webhooks-list
      parameters:
      - name: cursor
        required: false
        in: query
        description: The cursor to paginate through the results
        schema:
          minLength: 1
          type: string
      - name: limit
        required: false
        in: query
        description: The number of results to return
        schema:
          minimum: 1
          maximum: 200
          default: 25
          type: integer
      responses:
        '200':
          description: List of webhooks
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ListWebhooksResponse"
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Unique identifier for the request.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
      summary: List webhooks
      tags:
      - Webhooks
      security:
      - apiKey: []
      - bearer: []
      x-codeSamples:
      - lang: javascript
        label: JavaScript
        source: |-
          // npm install exa-js
          import Exa from "exa-js";
          const exa = new Exa("YOUR_EXA_API_KEY");

          const webhooks = await exa.websets.webhooks.list();

[...]
